# Craft runtime and backups folders
# ----------------------------------------------------------------------
craft/storage/runtime/*
craft/storage/backups/*

# Uploaded files
# ----------------------------------------------------------------------
public/assets/uploads/*

# Vendors
# ----------------------------------------------------------------------
bower_components
node_modules

# Compiled Assets
# ----------------------------------------------------------------------
public/js
public/css
resources/assets/css/build

# Misc files
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-workspace
*.sublime-project
*.komodoproject
.komodotools
_notes
dwsync.xml
logs/*

craft/plugins/**/vendor