{% import "macros/listings.html" as listingMacros %}

{% if listing is defined and listing is not null %}
<div class="listings-grid__item wow zoomIn clickable" data-wow-duration="0.5s">
    <a href="/listings/{{listing.ListingId}}">
        <div class="listings-grid__main">
            <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
            <div class="listings-grid__price">${{ listing.ListPrice | number_format(0, '.', ',') }}</div>
        </div>

        <div class="listings-grid__body">
            <small>{{ listingMacros.fullAddress(listing, {separated: false}) }}</small>
            <h5>{{listing.PublicRemarks | slice(0, 50)}}</h5>
        </div>

        <ul class="listings-grid__attrs">
            <li>
                <i class="listings-grid__icon listings-grid__icon--bed"></i>
                {{listing.BedroomsTotal | default('n/a')}}
            </li>
            <li>
                <i class="listings-grid__icon listings-grid__icon--bath"></i>
                {{listing.BathroomsFull | default('n/a') }}
            </li>
            <li>
                <i class="listings-grid__icon listings-grid__icon--parking"></i>
                {{listing.GarageSpaces | default('n/a')}}
            </li>
        </ul>
    </a>

    <div class="actions listings-grid__favorite">
        {% include "listings/partials/fav.html" %}
    </div>
</div>
{% endif %}