{% import "macros/listings.html" as listingMacros %}

{% if listing is defined and listing is not null %}

{% set photo = {'url': 'http://placehold.it/300x250' } %}

{% if listing.listing['photos'] is defined and listing.listing.photos | length %}
{% set photo = listing.listing.photos[0] %}
{% endif %}


<a href="/listings/{{listing.ListingId}}" class="list-group-item media">
    <div class="pull-left">
        <img src="{{photo.url}}" alt="" class="list-group__img" width="65">
    </div>
    <div class="media-body list-group__text">
        <strong>{{ listingMacros.fullAddress(listing) }}</strong>
        <small>${{ listing.ListPrice | number_format(0, '.', ',') }} . {{ listing.BedroomsTotal | default(0) }} Beds . {{ listing.BathroomsFull | default(0) }} Baths</small>
    </div>
</a>
{% endif %}