{% import "macros/listings.html" as listingMacros %}

{% if listing is defined and listing is not null %}
{% set photo = "http://placehold.it/300x200" %}

{% if listing['photos'] is defined and listing.photos | length %}
    {% set photo = listing.photos[0] %}
{% endif %}

<div class="listings-grid__item clickable wow flipInX material-hover" data-wow-offset="50" data-wow-duration="1s">
    <a href="/listings/{{listing.ListingId}}" class="media">
        <div class="listings-grid__main pull-left">
            <img src="{{photo}}" alt="">
            <div class="listings-grid__price">${{ listing.ListPrice | number_format(0, '.', ',') }}</div>
        </div>

        <div class="media-body">
            <div class="listings-grid__body">
                <small>{{ listingMacros.fullAddress(listing, {separated: false}) }}</small>
                <h5>{{listing.PublicRemarks}}</h5>
            </div>
            <ul class="listings-grid__attrs">
                <li>
                <i class="listings-grid__icon listings-grid__icon--bed"></i>
                {{listing.BedroomsTotal | default('n/a')}}
            </li>
            <li>
                <i class="listings-grid__icon listings-grid__icon--bath"></i>
                {{listing.BathroomsFull | default('n/a') }}
            </li>
            <li>
                <i class="listings-grid__icon listings-grid__icon--parking"></i>
                {{listing.GarageSpaces | default('n/a')}}
            </li>
            </ul>
        </div>
    </a>

    <div class="actions listings-grid__favorite">
        {% include "listings/partials/fav.html" %}
    </div>
</div>
{% endif %}