<side-search inline-template>
    <aside id="advanced-search" class="rmd-sidebar">
        {{ searchForm({
            id: 'nav-search',
            class: 'card',
            redirect: '/results'
        }) }}
            <div class="card__header">
                <h2>Advanced Property Search</h2>

                <div class="dropdown m-t-5">
                    <a data-toggle="dropdown" href="" class="text-muted">08 Saved Searches<i class="caret"></i></a>

                    <ul class="dropdown-menu dropdown-menu--block dropdown-menu--icon">
                        <li><a href=""><i class="zmdi zmdi-time"></i>10/08/2014 at 08:10 PM</a></li>
                        <li><a href=""><i class="zmdi zmdi-time"></i>01/08/2014 at 10:12 PM</a></li>
                        <li><a href=""><i class="zmdi zmdi-time"></i>01/08/2014 at 10:13 PM</a></li>
                        <li><a href=""><i class="zmdi zmdi-time"></i>22/07/2014 at 09:34 AM</a></li>
                        <li><a href=""><i class="zmdi zmdi-time"></i>14/07/2014 at 05:43 AM</a></li>
                    </ul>
                </div>
            </div>

            <div class="card__body m-t-20">
                <div class="form-group form-group--float">
                    <input type="text" class="form-control" value="New York, NY">
                    <label class="fg-float">Location</label>
                    <i class="form-group__bar"></i>
                </div>

                <div class="form-group form-group--range">
                    <label>Price Range</label>
                    <slider v-on:changed="priceChanged" :min="price.min" :max="price.max" step="1000" prefix="$"></slider>

                    {{ forms.numberBetween({
                        id: ['property_price_start', 'property_price_end'],
                        field: 'ListPrice',
                        class: ['hidden', 'hidden']
                    }) }}
                </div>

                <div class="form-group form-group--range">
                    <label>Area Size (sqft)</label>
                    <slider v-on:changed="footprintChanged" :min="footprint.min" :max="footprint.max"></slider>

                    {{ forms.numberBetween({
                        id: ['property_area_upper', 'property_area_lower'],
                        field: 'BuildingAreaTotal',
                        class: ['hidden', 'hidden']
                    }) }}
                </div>

                <div class="form-group">
                    <label>Bedrooms</label>
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        {% for i in 1..5 %}
                            <label class="btn waves-effect">
                                <input type="radio" value="{{i}}" name="advanced-search-beds" id="bed{{i}}">{{- i -}}
                            </label>
                        {% endfor %}
                    </div>

                    {{ forms.number({
                        id: 'property_bedrooms_total',
                        field: 'BedroomsTotal',
                        class: 'hidden'
                    }) }}
                </div>

                <div class="form-group">
                    <label>Bathrooms</label>
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        {% for i in 1..5 %}
                            <label class="btn waves-effect">
                                <input type="radio" value="{{i}}" name="advanced-search-baths" id="bath{{i}}">{{- i -}}
                            </label>
                        {% endfor %}
                    </div>

                    {{ forms.number({
                        id: 'property_baths_full',
                        field: 'BathsFull',
                        class: 'hidden'
                    }) }}
                </div>

                <div class="form-group">
                    <label>Garage Spaces</label>

                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        {% for i in 1..5 %}
                            <label class="btn waves-effect">
                                <input type="radio" value="{{i}}" name="advanced-search-garage" id="garage{{i}}">{{- i -}}
                            </label>
                        {% endfor %}
                    </div>

                    {{ forms.number({
                        id: 'property_garage_spaces',
                        field: 'GarageSpaces',
                        class: 'hidden'
                    }) }}
                </div>

                <div class="form-group form-group--range">
                    <label>Lot Size (sqft)</label>
                    <slider v-on:changed="lotChanged" :min="lot.min" :max="lot.max" step="50"></slider>

                    {{ forms.numberBetween({
                        id: ['property_lot_upper', 'property_lot_lower'],
                        field: 'LotSizeSquareFeet',
                        class: ['hidden', 'hidden']
                    }) }}
                </div>

                <div class="form-group form-group--range">
                    <label>Year Built</label>
                    {% set this_year = "now"|date("Y") %}

                    <select class="select2">
                        {% for year in 1800..this_year %}
                            <option value="{{year}}" {% if year == (this_year-20) %}selected{% endif %}>{{year}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="card__footer">
                <button class="btn btn-sm btn-primary">Search</button>
                <a href="" class="btn btn-link" data-rmd-action="block-close" data-rmd-target="#advanced-search">Save</a>
                <a href="" class="btn btn-link" data-rmd-action="block-close" data-rmd-target="#advanced-search">Cancel</a>
            </div>
        {{ formClose() }}
    </aside>
</side-search>