{% import "macros/listings.html" as listingMacros %}
{% import "macros/errors.html" as Errors %}

{% set results = listing(id) %}

{% cache 'details' 1800 %}

{% if results['data'] is defined %}
    {% set listing = results.data %}
    
    <header class="section__title section__title-alt">
        <h2>{{ listingMacros.fullAddress(listing, {separated: false}) }}</h2>

        <div class="actions actions--section">
            {% include "listings/partials/fav.html" %}

            <a href="" data-rmd-action="print"><i class="zmdi zmdi-print"></i></a>
            <div class="dropdown actions__email">
                <a href="" data-toggle="dropdown"><i class="zmdi zmdi-email"></i></a>

                <div class="dropdown-menu stop-propagate">
                    <form>
                        <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></p>

                        <div class="clearfix"></div>

                        <div class="form-group form-group--float m-t-10">
                            <input type="text" class="form-control">
                            <label>Recipient Email Address</label>
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="form-group form-group--float">
                            <textarea class="form-control textarea-autoheight">I came across this listing from Roost and thought of sharing with you.</textarea>
                            <label>Message (optional)</label>
                            <i class="form-group__bar"></i>
                        </div>

                        <div class="clearfix"></div>

                        <div class="m-t-15">
                            <button class="btn btn-primary">Send</button>
                            <a href="email/listing-mail.html" target="_blank" class="btn btn-link">View Email</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="dropdown">
                <a href="" data-toggle="dropdown"><i class="zmdi zmdi-share"></i></a>

                <div class="dropdown-menu pull-right rmd-share">
                    <div></div>
                </div>
            </div>
        </div>
    </header>

    {% set hasPhotos = (listing['listing']['photos'] is defined and listing.listing.photos | length) ? true : false %}

    <div class="row">
        <listing-details inline-template>
            <div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="detail-media">
                            <div class="tab-content">
                                {% if hasPhotos %}
                                    <div class="tab-pane fade in active light-gallery" id="detail-media-images">
                                        {% for photo in listing.listing.photos %}
                                            <a href="{{photo.url}}">
                                                <img src="{{cloudinary(photo.url, {width: 1200})}}" alt="">
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="tab-pane fade {% if not hasPhotos %} in active {% endif %} light-gallery" id="detail-media-floorplan">
                                    <a href="/img/demo/floor-plan.png">
                                        <img src="https://placeholdit.imgix.net/~text?&w=1000&h=464" alt="">
                                    </a>
                                </div>
                                <div class="tab-pane fade" id="detail-media-map">
                                    <listing-map :listing="{{listing | json_encode}}"></listing-map>
                                </div>
                            </div>

                            <ul class="detail-media__nav hidden-print">
                                {% if hasPhotos %}
                                    <li class="active">
                                        <a href="#detail-media-images" data-toggle="tab">
                                            <i class="zmdi zmdi-collection-image"></i>
                                        </a>
                                    </li>
                                {% endif %}
                                <li {% if not hasPhotos %}class="active"{% endif %}><a href="#detail-media-floorplan" data-toggle="tab"><i class="zmdi zmdi-view-dashboard"></i></a></li>
                                <li><a href="#detail-media-map" data-toggle="tab"><i class="zmdi zmdi-map"></i></a></li>
                            </ul>
                        </div>

                        <div class="detail-info">
                            <div class="detail-info__header clearfix">
                                <strong>${{ listing.ListPrice | number_format(0, '.', ',') }}</strong>
                                <small>Est. Mortgage: $5,328/month</small>

                                <span>For Sale</span>
                            </div>

                            <ul class="detail-info__list clearfix">
                                <li>
                                    <span>Ownership Type</span>
                                    <span>Villa</span>
                                </li>
                                <li>
                                    <span>Property Area</span>
                                    <span>{{listing.LotSizeArea}} sqft</span>
                                </li>
                                <li>
                                    <span>Garages</span>
                                    <span>{{listing.GarageSpaces | default('n/a')}}</span>
                                </li>
                                <li>
                                    <span>Stories</span>
                                    <span>{{listing.StoriesTotal | default('n/a')}}</span>
                                </li>
                                <li>
                                    <span>Bedrooms</span>
                                    <span>{{listing.BedroomsTotal | default('n/a')}}</span>
                                </li>
                                <li>
                                    <span>Bathrooms</span>
                                    <span>{{listing.BathroomsFull | default('n/a')}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card detail-amenities">
                        <div class="card__header">
                            <h2>Amenities</h2>
                            <small>{{listing.AssociationAmenities}}</small>
                        </div>

                        <div class="card__body">
                            <ul class="detail-amenities__list">
                                <li class="mdc-bg-red-300">Full-Time Doorman</li>
                                <li class="mdc-bg-purple-300">River Views</li>
                                <li class="mdc-bg-pink-300">Common Roof Deck</li>
                                <li class="mdc-bg-light-blue-500">City Views</li>
                                <li class="mdc-bg-amber-400">Gym</li>
                                <li class="mdc-bg-teal-400">Sauna</li>
                                <li class="mdc-bg-light-green-500">Open Views</li>
                                <li class="mdc-bg-brown-400">Basketball Court</li>
                                <li class="mdc-bg-blue-grey-400">Pool</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__header">
                            <h2>Property Overview</h2>
                        </div>
                        <div class="card__body">
                            <p>{{listing.PublicRemarks}}</p>
                        </div>
                    </div>
                </div>

                <div id="inquire" class="col-md-4 rmd-sidebar-mobile">
                    {% include "forms/leadForm.html" with {'listing': listing, 'listingUrl': url} only %}

                    <div class="card hidden-xs hidden-sm hidden-print">
                        <div class="card__header">
                            <h2>Agents representing</h2>
                            <small>Etiam porta sem malesuada magna mollis</small>
                        </div>
                        <div class="list-group">
                            {% include "agents/partials/agent_simple_list.html" %}

                            <div class="p-10"></div>
                        </div>
                    </div>

                    <div class="card hidden-xs hidden-sm hidden-print">
                        <div class="card__header">
                            <h2>You may also like...</h2>
                            <small>Check out these homes nearby</small>
                        </div>

                        {# modify this to do a geospatial radial search #}

                        {% set filter = 'BathroomsFull gt 0 and BedroomsTotal gt 0' %}

                        {% if listing.Latitude and listing.Longitude %}
                            {% set filter = filter ~ " and geo.distance(location, POINT(#{listing.Longitude} #{listing.Latitude})) lt 0.04" %}
                        {% else %}
                            {# Center ish of Columbus #}
                            {% set filter = filter ~ ' and geo.distance(location, POINT(-83.001565 40.022384)) lt 0.04' %}
                        {% endif %}
                        
                        {% include "listings/partials/nearby.html" with {
                            where: filter,
                            orderBy: 'ListPrice desc',
                            limit: 5
                        } only %}
                        <div class="p-10"></div>
                    </div>
                </div>
            </div>
        </listing-details>
    </div>

    {% include "modals/socialLogin.html" %}
{% else %}
    {{ Errors.api(results) }}
{% endif %}

{% endcache %}