{% import "macros/errors.html" as Errors %}

{% set results = listings({
	'$filter': (where is defined) ? where : '', 
	'$top': (limit is defined) ? limit : 100,
	'$skip': (page is defined) ? (page-1)*limit : 0,
	'$orderby': (orderBy is defined) ? orderBy : ''
}) %}

{% if results['data'] is defined %}
	{% set listings = results.data %}
	
	{% embed "listings/partials/grid.html" with {'listings': listings} only %}
		{% block emptyListings %}
			<div class="card">
				<div class="card__header">
					<h1>No Listings</h1>
				</div>
			</div>
		{% endblock %}
	{% endembed %}
{% else %}
	{{ Errors.api(results) }}
{% endif %}

{% include "modals/socialLogin.html" %}