{% extends "layouts/app.html" %}

{% block body %}
	<header id="header">
		<!-- Top Nav -->
		{% include "layouts/includes/_top_nav.html" %}

		<!-- Main Nav -->
        {% include "layouts/includes/_main_nav.html" %}

        {##
        # Child can choose what to do here 
        # but by default we have the include
        #}
        {% block navSearch %}
            <!-- Nav Search -->
            {% include "layouts/includes/_nav_search.html" %}
        {% endblock %}

        {##
        # Child can choose what to do here 
        # but by default we have the include
        #}
        {% block navRecommended %}
            <!-- Nav Recommended Listings -->
            {% include "layouts/includes/_nav_recommended.html" %}
        {% endblock %}
	</header>

    {##
    # The child can put in a search bar here for instance
    #}
    {% block actionHeader %}{% endblock %}

	<section class="section">
		<div class="container">
		    {% block content %}{% endblock %}
		</div>
	</section>

	<footer id="footer">
        {% include "layouts/includes/_top_footer.html" %}

        {% include "layouts/includes/_sub_footer.html" %}
    </footer>
{% endblock %}
