{% macro api(blob) %}
	<div class="card">
		<div class="card__header">Uh oh...</div>
		<div class="card__body">
			{% if blob['errors'] is defined and blob['errors'] is not null %}
				{% for error in blob.errors %}
					<p>{{error.message}}</p>
				{% endfor %}
			{% elseif blob['error'] is defined and blob['error'] is not null %}
				<p>{{blob.error.message}}</p>
			{% else %}
				<p>An unknown error occurred!</p>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro general(message) %}
	<div class="card">
		<div class="card__header">
			<h2>{{message}}</h2>
		</div>
	</div>
{% endmacro %}